<h1>Show Article</h1>

<p>
    <strong>Title:</strong>
    <%= @article.title %>
</p>

<p>
    <strong>Text:</strong>
    <%= @article.text %>
</p>

<%= link_to 'Back', articles_path %>

<%  if user_signed_in? %>
    <h3>current user : <%= current_user.email %></h3>
<% end %>
